USE [master]
GO
/****** Object:  Database [db_AgenciaCarros]    Script Date: 08/03/2025 03:36:37 p. m. ******/
CREATE DATABASE [db_AgenciaCarros]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_AgenciaCarros', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\db_AgenciaCarros.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_AgenciaCarros_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\db_AgenciaCarros_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_AgenciaCarros].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_AgenciaCarros]
GO
/****** Object:  Table [dbo].[tblClientes]    Script Date: 08/03/2025 03:36:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblClientes](
	[ClienteID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Telefono] [nvarchar](20) NULL,
	[Estado] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVentas]    Script Date: 08/03/2025 03:36:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVentas](
	[VentaID] [int] IDENTITY(1,1) NOT NULL,
	[VehiculoID] [int] NULL,
	[ClienteID] [int] NULL,
	[FechaVenta] [date] NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VentaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_MontoTotalPorCliente]    Script Date: 08/03/2025 03:36:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_MontoTotalPorCliente] 
AS
(
SELECT 
    c.ClienteID,
    c.Nombre, 
    c.Apellido, 
    SUM(v.Monto) AS MontoTotalGastado
FROM tblClientes c
INNER JOIN tblVentas v ON c.ClienteID = v.ClienteID
GROUP BY c.ClienteID, c.Nombre, c.Apellido);
GO
/****** Object:  Table [dbo].[tblVehiculos]    Script Date: 08/03/2025 03:36:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVehiculos](
	[VehiculoID] [int] IDENTITY(1,1) NOT NULL,
	[Marca] [nvarchar](50) NOT NULL,
	[Modelo] [nvarchar](50) NOT NULL,
	[Año] [int] NOT NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[Estado] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[VehiculoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_InformacionVentas]    Script Date: 08/03/2025 03:36:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_InformacionVentas] AS
SELECT 
	ven.VentaID,
    c.ClienteID,
    c.Nombre, 
    c.Apellido,
    v.VehiculoID,
    v.Marca,
    v.Modelo,
    ven.FechaVenta,
    ven.Monto
FROM tblVentas ven
INNER JOIN tblClientes c ON ven.ClienteID = c.ClienteID
INNER JOIN tblVehiculos v ON ven.VehiculoID = v.VehiculoID;
GO
/****** Object:  View [dbo].[Vw_Clientes]    Script Date: 08/03/2025 03:36:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[Vw_Clientes]
	as
	(
		Select 
			c.Nombre,
			c.Apellido,
			v.Precio
		FROM tblVentas ven
				INNER JOIN tblClientes c ON ven.ClienteID = c.ClienteID
				INNER JOIN tblVehiculos v ON ven.VehiculoID = v.VehiculoID
		where v.Precio > 20000
	);
GO
/****** Object:  View [dbo].[vw_Clientes2]    Script Date: 08/03/2025 03:36:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Clientes2] AS
SELECT 
    c.ClienteID,
    c.Nombre, 
    c.Apellido,
    c.Email,
	c.Telefono,
	c.Estado,
	COUNT(ven.VentaID) AS TotalCompras
FROM tblClientes c
INNER JOIN tblVentas ven ON c.ClienteID = ven.ClienteID
GROUP BY c.ClienteID, c.Nombre, c.Apellido, c.Email, c.Telefono, c.Estado
HAVING COUNT(ven.VentaID) > 1;
GO
/****** Object:  View [dbo].[Vw_VehiculosDisponibles]    Script Date: 08/03/2025 03:36:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[Vw_VehiculosDisponibles]
	as
	(
		Select TOP 100
			VehiculoID,
			Marca,
			Modelo,
			Año,
			Precio,
			Estado
		FROM tblVehiculos 
		where Estado = 'Disponible'
		Order by Precio Asc
	);
GO
SET IDENTITY_INSERT [dbo].[tblClientes] ON 

INSERT [dbo].[tblClientes] ([ClienteID], [Nombre], [Apellido], [Email], [Telefono], [Estado]) VALUES (1, N'Juan', N'Pérez', N'juan.perez@example.com', N'1234567890', N'Activo')
INSERT [dbo].[tblClientes] ([ClienteID], [Nombre], [Apellido], [Email], [Telefono], [Estado]) VALUES (2, N'María', N'González', N'maria.gonzalez@example.com', N'0987654321', N'Activo')
INSERT [dbo].[tblClientes] ([ClienteID], [Nombre], [Apellido], [Email], [Telefono], [Estado]) VALUES (3, N'Luis', N'Fernández', N'luis.fernandez@example.com', N'2345678901', N'Activo')
SET IDENTITY_INSERT [dbo].[tblClientes] OFF
GO
SET IDENTITY_INSERT [dbo].[tblVehiculos] ON 

INSERT [dbo].[tblVehiculos] ([VehiculoID], [Marca], [Modelo], [Año], [Precio], [Estado]) VALUES (1, N'Toyota', N'Corolla', 2020, CAST(20000.00 AS Decimal(18, 2)), N'Disponible')
INSERT [dbo].[tblVehiculos] ([VehiculoID], [Marca], [Modelo], [Año], [Precio], [Estado]) VALUES (2, N'Honda', N'Civic', 2019, CAST(22000.00 AS Decimal(18, 2)), N'Disponible')
INSERT [dbo].[tblVehiculos] ([VehiculoID], [Marca], [Modelo], [Año], [Precio], [Estado]) VALUES (3, N'Ford', N'Focus', 2021, CAST(21000.00 AS Decimal(18, 2)), N'Disponible')
SET IDENTITY_INSERT [dbo].[tblVehiculos] OFF
GO
SET IDENTITY_INSERT [dbo].[tblVentas] ON 

INSERT [dbo].[tblVentas] ([VentaID], [VehiculoID], [ClienteID], [FechaVenta], [Monto]) VALUES (1, 1, 1, CAST(N'2023-01-15' AS Date), CAST(20000.00 AS Decimal(18, 2)))
INSERT [dbo].[tblVentas] ([VentaID], [VehiculoID], [ClienteID], [FechaVenta], [Monto]) VALUES (2, 2, 2, CAST(N'2023-01-20' AS Date), CAST(22000.00 AS Decimal(18, 2)))
INSERT [dbo].[tblVentas] ([VentaID], [VehiculoID], [ClienteID], [FechaVenta], [Monto]) VALUES (3, 3, 3, CAST(N'2023-01-25' AS Date), CAST(21000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[tblVentas] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tblClien__A9D105348500E1FC]    Script Date: 08/03/2025 03:36:37 p. m. ******/
ALTER TABLE [dbo].[tblClientes] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblVentas]  WITH CHECK ADD FOREIGN KEY([ClienteID])
REFERENCES [dbo].[tblClientes] ([ClienteID])
GO
ALTER TABLE [dbo].[tblVentas]  WITH CHECK ADD FOREIGN KEY([VehiculoID])
REFERENCES [dbo].[tblVehiculos] ([VehiculoID])
GO
/****** Object:  StoredProcedure [dbo].[usp_Vehiculo_delete]    Script Date: 08/03/2025 03:36:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Vehiculo_delete]
	(
	@VehiculoID int
	)
AS
BEGIN
	SET NOCOUNT ON;
	Delete tblVehiculos
	where VehiculoID = @VehiculoID;
    SELECT @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Vehiculo_update]    Script Date: 08/03/2025 03:36:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Vehiculo_update]
    @VehiculoID int,
	@Marca varchar (50), 
	@Modelo varchar (50),
	@Anio int,
	@Precio decimal (18,2),
	@Estado varchar (50)
AS
BEGIN
    UPDATE tblVehiculos
    SET 
        Marca = @Marca,
        Modelo = @Modelo,
        Año = @Anio,
		Precio = @Precio,
		Estado = @Estado
    WHERE VehiculoID = @VehiculoID;

    SELECT @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_vehiculos_Insert]    Script Date: 08/03/2025 03:36:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_vehiculos_Insert]
	
	
	@Marca varchar (50), 
	@Modelo varchar (50),
	@Anio int,
	@Precio decimal (18,2),
	@Estado varchar (50)
	
AS
BEGIN
	SET NOCOUNT ON;

	Insert into tblVehiculos
	(
	Marca,
	Modelo,
	Año,
	Precio,
	Estado
	) values
	(
	@Marca, 
	@Modelo,
	@Anio,
	@Precio,
	@Estado
	)
END
GO
/****** Object:  StoredProcedure [dbo].[usp_vehiculos_select]    Script Date: 08/03/2025 03:36:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_vehiculos_select]
AS  
BEGIN  
 SET NOCOUNT ON;  
Select   
VehiculoID,  
 Marca,  
 Modelo,  
 Año,  
 Precio,    
 Estado  
from tblVehiculos;  
END 
GO
USE [master]
GO
